nav {
height:42px;
}

nav ul{
list-style:none;
font-family: "Courier New", Times, Monospace;
font-weight: bold;
}

nav ul li a{
float:left;
text-decoration:none;
color:black;
padding:0px 38px;

line-height:40px;
height:40px;

}

nav ul li a:hover,nav ul li a:active{
background-color:DarkTurquoise; 
color:black;
font-size: 115%;
border-width:5px;	
border-style:double;
border-color:black; 
}

